<div class="main">
  <div class="container">
    <h1>Prompt Card Page</h1>
    <div class="container">
      <div class="subjects">
        <input type="checkbox" class="checkbox" id="numbers" name="numbers" value="numbers" checked></input>
        <label for="numbers">numbers</label>
        <input type="checkbox" class="checkbox" id="letters" name="letters" value="letters" checked></input>
        <label for="letters">letters</label>
        <input type="checkbox" class="checkbox" id="colours" name="colours" value="colours" checked></input>
        <label for="colours">colours</label>
        <input type="checkbox" class="checkbox" id="introductions" name="introductions" value="introductions" checked></input>
        <label for="introductions">introductions</label>
        <input type="checkbox" class="checkbox" id="questions" name="questions" value="questions" checked></input>
        <label for="questions">questions</label>
        <input type="checkbox" class="checkbox" id="countries" name="countries" value="countries" checked></input>
        <label for="countries">countries</label>
        <input type="checkbox" class="checkbox" id="cities" name="cities" value="cities" checked></input>
        <label for="cities">cities</label>
        <input type="checkbox" class="checkbox" id="jobs" name="jobs" value="jobs" checked></input>
        <label for="jobs">jobs</label>
        <input type="checkbox" class="checkbox" id="animals" name="animals" value="animals" checked></input>
        <label for="animals">animals</label>
        <input type="checkbox" class="checkbox" id="home" name="home" value="home" checked></input>
        <label for="home">home</label>
        <input type="checkbox" class="checkbox" id="clothing" name="clothing" value="clothing" checked></input>
        <label for="clothing">clothing</label>
        <input type="checkbox" class="checkbox" id="countryside" name="countryside" value="countryside" checked></input>
        <label for="countryside">countryside</label>
        <input type="checkbox" class="checkbox" id="school" name="school" value="school" checked></input>
        <label for="school">school</label>
        <input type="checkbox" class="checkbox" id="work" name="work" value="work" checked></input>
        <label for="work">work</label>
        <input type="checkbox" class="checkbox" id="people" name="people" value="people" checked></input>
        <label for="people">people</label>
        <input type="checkbox" class="checkbox" id="relationships" name="relationships" value="relationships" checked></input>
        <label for="relationships">relationships</label>
        <input type="checkbox" class="checkbox" id="descriptions" name="descriptions" value="descriptions" checked></input>
        <label for="descriptions">descriptions</label>
        <input type="checkbox" class="checkbox" id="other" name="other" value="other" checked></input>
        <label for="other">other</label>
      </div>
      <div>
        <button class="selectAll">select all</button>
        <button class="deselectAll">deselect all</button>
      </div>
      <div class="card">
        <p class="text"></p>
        <button class="flag">FLAG</button>
      </div>
      <button class="button newPromptButton">New Prompt</button>
      <div class="flags"></div>
    </div>
  </div>
</div>