/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card {
  border: 0.25rem solid black;
  height: 15rem;
  width: 30rem;
  max-width: 100%;
  border-radius: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.text {
  font-size: 2rem;
  font-family: 'Verdana';
  text-align: center;
}

.flag {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: red;
  font-weight: bold;
  border: 0;
  background: none;
}

.button {
  margin: 1rem auto;
}
